<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}DebugHTML File{% endblock %}</title>
        <link rel="stylesheet" href="{{ pathFromRoot }}stylesheet.css">
    </head>
    <body>
    {% block body %}
        <div class="container">
            <h2 class="center" id="titleDebug">Debug HTML</h2>
            {% if renderType == 1 %}
                {{ content }}
            {% else %}
                <table>
                    <tr>
                        <th>Last Transaction Type</th>
                        <td>{{ lastTransactionType }}</td>
                    </tr>
                    <tr>
                        <th>Exception</th>
                        <td>{{ content }}</td>
                    </tr>
                    <tr>
                        <th>Last Prepared Stmt</th>
                        <td>{{ lastPreparedStmt }}</td>
                    </tr>
                    <tr>
                        <th>Last Executed Query</th>
                        <td>{{ lastExecutedQuery }}</td>
                    </tr>
                </table>
            {% endif %}
        </div>
    {% endblock %}
    </body>

</html>