body{
    background-color: #1f1f1f;
    color: #ffffff;
    font-size: 20px;
}

#titleDebug{
    color : #FFD700;
    font-family: "Lucida Bright", sans-serif;
}

.container{
    background-color: #1f1f1f;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    width: 85%;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    min-width: 100%;
}

td, th{
    padding : 8px;
}

td{
    font-size: 22.5px;
    max-width: 0;
    overflow: hidden;
}

th{
    font-family: "Nirmala UI", sans-serif;
    font-size: 24px;
    width: 350px !important;
    color: #EAE2C2;
}

tr:nth-child(even) {background: #35353E}
tr:nth-child(odd) {background: #262626}

.center{
    text-align: center;
}





