<!DOCTYPE html>
<html lang="pt" class="h-100">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <!-- Meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Favicon -->
        <link
            rel="icon"
            type="image/png"
            href="favicon.ico"
        />
    
        <!-- Global CSS File -->
        <link type="text/css" rel="stylesheet" href="{{ ABS_HOME_URI~'/src/css/global.css' }}">

        <!-- CSS Theme -->
        <link type="text/css" rel="stylesheet" href="{{ ABS_HOME_URI~'/src/css/themes/default.css' }}">

        <!-- Bootstrap core CSS -->
        <link type="text/css" rel="stylesheet" href="{{ ABS_HOME_URI~'/node_modules/bootstrap/dist/css/bootstrap.css' }}">

        <!-- @fortawesome/fontAwesome-free -->
        <link type="text/css" rel="stylesheet" href="{{ ABS_HOME_URI~'/node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css' }}">
        <link type="text/css" rel="stylesheet" href="{{ ABS_HOME_URI~'/node_modules/@fortawesome/fontawesome-free/css/solid.min.css' }}">

        <!-- Page Stylesheets block -->
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}{% endblock %}
        {% block main %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>